@* @page "/Users/{username}" *@

@using Dama.POS.Web.Features.Users.AddUser
@using MediatR

@inject IMediator Mediator
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3>Edit User</h3>

<div>
    <label for="username">Username:</label>
    <input type="text" @bind="newUsername" id="username" />

    <button @onclick="Edit">Edit</button>
</div>

@code {
    [Parameter]
    public string Username { get; set; } = null!;

    private string newUsername = null!;

    protected override void OnInitialized()
    {
        newUsername = Username;
    }

    private async Task Edit()
    {
        if (Username != newUsername) {
            // await Mediator.Send(new EditUserCommand(Username, newUsername));
        }

        Navigation.NavigateTo("/Users");
    }
}