@page "/add-user"
@using Dama.POS.DAL.Entities.Users
@using MediatR

@inject IMediator Mediator
@inject NavigationManager Navigation


<h3>Add New User</h3>

<div>
    <label for="username">Username:</label>
    <input type="text" @bind="newUsername" id="username" />

    <label for="password">Password:</label>
    <input type="password" @bind="newPassword" id="password" />

    <button @onclick="Add">Add User</button>
</div>

@if (message != null) {
    <p>@message</p>
}

@code {
    private string newUsername = string.Empty;
    private string newPassword = string.Empty;
    private string? message = null;

    private async Task Add()
    {
        if (!string.IsNullOrWhiteSpace(newUsername) && !string.IsNullOrWhiteSpace(newPassword)) {

            try {
                await Mediator.Send(new AddUserCommand(newUsername, newPassword));

            }
            catch (Exception) {
                
                throw;
            }

            Navigation.NavigateTo("/Users");
        }
        else {
            message = "Both fields are required.";
        }
    }
}